@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@inject IHtmlLocalizer<AccountResource> L
<a class="nav-link me-1 fw-bold text-white" role="button" href="~/Account/Login">@L["Login"]</a>
